<% content_for :title, "Edit Listing - Sell.io" %>
<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<div class="new-listing-page">
  <div class="new-listing-header">
    <h1>Edit Your Listing</h1>
    <p>Update your listing information below</p>
  </div>

  <%= render "form", listing: @listing %>

  <div class="back-link-container">
    <%= link_to "â† Back to listing", @listing, class: "back-link" %> |
    <%= link_to "Back to listings", listings_path, class: "back-link" %>
  </div>
</div>
