default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  adapter: postgresql
  encoding: unicode
  database: sellio
  username: postgres
  password: test
  host: localhost
  port: 5432

test:
  adapter: postgresql
  encoding: unicode
  database: sellio_test
  username: postgres
  password: test
  host: localhost
  port: 5432

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
