name: Docker image delivery
on:
  workflow_call:
  release:
    types:
     - published

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout gjb-api repo
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build docker image
        env:
          IMAGE_NAME: sidrock123/dealo
        run: |
          DOCKER_BUILDKIT=1 docker build --pull -t ${IMAGE_NAME}:${GITHUB_REF_NAME} \
          -f .docker/Dockerfile .
          docker push ${IMAGE_NAME}:${GITHUB_REF_NAME}
